<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/list.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="wrap-hd clearfix">
				<form id="searchForm">
					<div class="item clearfix">
						<div class="key">姓名：</div>
						<div class="value">
							<input class="inp-text" type="text" name="userName" />
						</div>
					</div>
					<div class="item clearfix">
						<div class="key">年龄：</div>
						<div class="value">
							<input class="inp-text" type="text" name="userAge" />
						</div>
					</div>
					<div class="item clearfix">
						<div class="key">性别：</div>
						<div class="value">
							<input class="inp-radio" type="radio" name="userSex" value="0"/>男
							<input class="inp-radio" type="radio" name="userSex" value="1" />女
						</div>
					</div>
				</form>
				<div class="item clearfix">
					<button class="btn" type="button">搜索</button>
					<button class="btn" id="addBtn" type="button">新增</button>
					<button class="btn" id="delBtn" type="button">删除</button>
				</div>
			</div>
	
	
	<table class="wrap-bd" border="1">
		<tbody>
			<tr>
					<th><input type="checkbox" id="allChoose"></th>
					<th>姓名</th>
					<th>年龄</th>
					<th>性别</th>
					<th>籍贯</th>
					<th>身份证号码</th>
					<th>手机号码</th>
					<th>职业</th>
					<th>操作</th>
			</tr>

	

	

		</tbody>
	</table>	
			
				
	    </div>
		<script type="text/html" id="addHtml">
			<form>
				<div class="item clearfix">
					<div class="key">姓名：</div>
					<div class="value">
						<input class="inp-text" type="text" name="userName" />
					</div>
				</div>
				<div class="item clearfix">
					<div class="key">年龄：</div>
					<div class="value">
						<input class="inp-text" type="text" name="userName" />
					</div>
				</div>
				<div class="item clearfix">
					<div class="key">性别：</div>
					<div class="value">
						<input class="inp-radio" type="radio" name="userSex" value="0"/>男
						<input class="inp-radio" type="radio" name="userSex" value="1" />女
					</div>
				</div>
				<div class="item clearfix">
					<div class="key">籍贯：</div>
					<div class="value">
						<input class="inp-text" type="text" name="userName" />
					</div>
				</div>
				<div class="item clearfix">
					<div class="key">身份证号码：</div>
					<div class="value">
						<input class="inp-text" type="text" name="userName" />
					</div>
				</div>
				<div class="item clearfix">
					<div class="key">手机号码：</div>
					<div class="value">
						<input class="inp-text" type="text" name="userName" />
					</div>
				</div>
				<div class="item clearfix">
					<div class="key">职业：</div>
					<div class="value">
						<input class="inp-text" type="text" name="userName" />
					</div>
				</div>
				<div class="item clearfix">
					<button class="btn submitBtn" id="submitBtn" type="button">提交</button>
				</div>
			</form>
		</script>
	</body>
</html>
<script src="js/jquery-1.11.1.js"></script>
<script src="js/underscore-min.js"></script>
<script type="text/template" id="info">
<% for(var i=0;i<list.length;i++){ %>
	<tr>
		<td><input type="checkbox" class="choose"></td>
		<td><%=list[i].userName%></td>
		<td><%=list[i].userAge%></td>
		<% if(list[i].userSex==0){var sex="男"}else{var sex="女"}%>
		<td><%=sex%></td>
		<td><%=list[i].userNation%></td>
		<td><%=list[i].userCard%></td>
		<td><%=list[i].userPhone%></td>
		<td><%=list[i].userVoc%></td>
		<td>
			<button class="updateBtn" type="button" userid="<%=list[i].id%>">修改</button>
			<button class="delBtn" type="button" userid="<%=list[i].id%>">删除</button>
		</td>		
	</tr>
<%}%>
	
</script>
<script type="text/javascript" src="js/list.js" ></script>